.shirtDisplay{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  background-color: rgb(241, 243, 250);
}
.shirtheaderBlack{
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
}
.shirtmainHeading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgba(236, 236, 236, 0.9);
   margin: 10px;
}